body{
  font-family: Helvetica;
  display: inline-flex;
  justify-content: flex-start;
  margin: 0px;
}

.left{
  width: 60%;
  margin: -15px 30px;
}

.right{
  margin: 10px 30px;
  padding: 0px 15px;
  border: solid 1px navy;
  background-color: lightgray;
}

h1{
  font-size: 250%;
  color: navy;
}

h4{
  padding-left: 10px;
  background-color: darkcyan;
  color: white;
}

img{
  width: 250px;
}

a:link{
  text-decoration: none;
  color: navy;
  font-weight: bold;
}

a:visited{
  text-decoration: none;
  color: navy;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
  background-color: yellow;
}